@import url("./assets/fonts/index.css");
@import url("./assets/fonts/index.css");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Clash Display", sans-serif;
}

.disabled {
  background-color: black;
}

.shadow-unset-hover {
  box-shadow: 8px 10px black !important;
}

.shadow {
  box-shadow: 8px 10px black !important;
}

.shadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 5px 7px black !important;
}

.shadow-sp-sm {
  box-shadow: 6px 8px black !important;
}

.shadow-sp-sm:hover {
  transform: translate(3px, 3px);
  box-shadow: 3px 5px black !important;
}

.shadow-input {
  box-shadow: 8px 10px black !important;
}

.shadow-input:focus {
  transform: translate(3px, 3px);
  box-shadow: 5px 7px black !important;
}

.markdown > * {
  all: revert;
}

.bg-black-alpha {
  background: rgba(0, 0, 0, 0.3);
}
